// .demo-card-container {
//   margin: 10px;
//   display: flex;
//   flex-flow: column nowrap;

//   .mat-card {
//     margin: 0 16px 16px 0;
//     width: 350px;
//   }

// }

md-card-title{
    font-weight: bold;
}

.demo-card-container{
    padding: 15px;
    display: flex;
    flex-flow: wrap;
    background-color: #fafafa;
    .mat-card{
        min-width: 200px;
        max-width: 250px;
        margin: 15px;
        border-left: 2px solid #6c8898;
        flex-grow:1;
    }

    .das-portfolio-cur{
        font-size: 26px;
        color: #006a8e;
    }
}

.device-key{
    font-weight: bold;
}

.demo-card-blue {
  background-color: #b0becc;

  .mat-card-actions {
    display: flex;
    flex-direction: column;
  }
}